menuconfig PWM
	bool "PWM Support"
	help
	  This enables PWM support through the generic PWM framework.
	  You only need to enable this, if you also want to enable
	  one or more of the PWM drivers below.

	  If unsure, say N.

if PWM

config PWM_SYSFS
	bool "/sys/class/pwm/... (sysfs interface)"
	depends on SYSFS
	help
	  Say Y here to add a sysfs interface for PWMs.

	  This exports directories and files to userspace using sysfs.
	  This way the PWM outputs of a device can easyly be used,
	  controlled and tested. For every instance of an PWM capable
	  device there is a pwmchipX directory exported to
	  /sys/class/pwm. If you want to use a PWM, you have to export
	  it to sysfs, which is done by writing the number into
	  /sys/class/pwm/export. After that /sys/class/pwm/pwmX is
	  reaady to be used.

config PWM_IMX
	tristate "i.MX pwm support"
	depends on ARCH_MXC
	help
	  Generic PWM framework driver for i.MX.

	  To compile this driver as a module, choose M here: the module
	  will be called pwm-imx.

endif
